@import "tailwindcss";
@plugin "daisyui";

/* Utility Classes */
@layer utilities {
  .trns {
    @apply transition ease-in-out duration-300;
  }
}

@layer components {
  .section-title {
    @apply text-4xl font-bold;
  }
}
